In [ ]:
# 자료형
# 정수형
a = 3
type(a) #정수형

int

In [ ]:
#실수형
b = 3.3
type(b)

float

In [ ]:
# 문자형
c='안녕하세요'
type(c) #string

str

## 리스트

In [ ]:
#리스트
list1 = ['a','b','c','d','e'] #대괄호
list2 = [1,2,3,4,5]
type(list1)

list

In [ ]:
# 리스트활용법
print(list2)
#리스트는 순서가 0부터 시작
print(list2[0])

[1, 2, 3, 4, 5]
1

In [ ]:
#append 추가
list2.append(6)
list2

[1, 2, 3, 4, 5, 6]

In [ ]:
# extend
list1 = [1,2,3]
list2 = ['a','b','c']
list1.extend(list2)
print(list1)

[1, 2, 3, 'a', 'b', 'c']

In [ ]:
#리스트는 연산이 불가하다(수학적 연산)

In [ ]:
list1 = [1,2,3]
list2 = [4,5,6]
list1+list2

[1, 2, 3, 4, 5, 6]

In [ ]:
#list1/list2 - 불가

In [ ]:
#list1*list2 불가

In [ ]:
list1*2

[1, 2, 3, 1, 2, 3]

## for문

In [ ]:
# for문에 대한 설명
for i in range(0,5):
  print(i)

0
1
2
3
4

In [ ]:
for i in [0,1,8,3,5]:
  #인덴트를 한 것만 반복이 된다!
  print(i)
  print(1)

0
1
1
1
8
1
3
1
5
1

In [ ]:
list1 = ['a','b','c','d','e'] #문자는 꼭 따옴표
for alphabet in list1:
  print(alphabet)

a
b
c
d
e

## 비교연산과 if문

In [ ]:
if 1==1: # = 하나만 쓰면 안된다.
  # 조건문이 참일때
  print('참이네요!')
else:
  # 조건문이 거짓일때
  print('거짓이네요!')

# =: 그릇에 어떠한 수나 문자를 담는 행위
# ==: 파이썬한테 질문하는 행위(참/거짓)

참이네요!

In [ ]:
score = 85

if score>90:
  print('학점 A')
elif score >80:
  print('학점 B')
elif score>70:
  print('학점 C')
else: #조건문 없어야 함
  print('학점 F')

학점 B

## 함수

In [ ]:
5*8*2

80

In [ ]:
4*5*2 + 4*3*2 + 5*3*2

94

In [ ]:
# 부피를 구하는 함수를 만든것! 함수를 실행한 것은 아니다.(계산 틀을 만든 것 뿐)
def volume(width, height, length):
  return width * height * length

In [ ]:
print(volume(1,2,3))
volume(5,8,2) #주의! return은 출력하라는 뜻이 아니다!
#코렙에서는 사용자 편하라고 print를 안써도 출력해 준다.

6

80

In [ ]:
volume1 = volume(5,8,2)
print(volume1)

80

In [ ]:
def volume(width, height, length):
  print(width * height * length)

In [ ]:
volume1 = volume(5,8,2)
print(volume1)

80
None

- return과 print의 차이점

프린트는 어디에도 저장이 되지않는다.(결과값 나중에 사용 불가)  
리턴을 써야만 우리가 나중에 다른 변수에다가 결과값을 저장할 수 있다.

## try, except

시도하다가 에러가 발생할 경우에 예외로 처리해준다.(에러대신 다른거)

In [ ]:
try:
  print(a/b)
except:
  print('0으로 나눌 수 없어요!')

0으로 나눌 수 없어요!

## pandas

데이터프레임 구조 지원

In [ ]:
import pandas as pd

In [ ]:
# df란 이름의 데이터프레임을 생성합니다.
items = {'code' : [101, 102, 103, 104, 105, 106, 107, 108],
         '과목': ['수학', '영어', '국어', '체육', '미술', '사회', '도덕', '과학'],
         '수강생':[15, 15, 10, 50, 20, 50, 70, 10],
         '선생님': ['김민수','김현정','강수정', '이나리', '도민성', '강수진', '김진성', '오상배']}
df = pd.DataFrame(items)
df

   code  과목  수강생  선생님
0   101  수학   15  김민수
1   102  영어   15  김현정
2   103  국어   10  강수정
3   104  체육   50  이나리
4   105  미술   20  도민성
5   106  사회   50  강수진
6   107  도덕   70  김진성
7   108  과학   10  오상배

In [ ]:
df.head() # 상위 5개 행만 출력

   code  과목  수강생  선생님
0   101  수학   15  김민수
1   102  영어   15  김현정
2   103  국어   10  강수정
3   104  체육   50  이나리
4   105  미술   20  도민성

In [ ]:
df.tail() # 하위 5개 행만 출력

   code  과목  수강생  선생님
3   104  체육   50  이나리
4   105  미술   20  도민성
5   106  사회   50  강수진
6   107  도덕   70  김진성
7   108  과학   10  오상배

In [ ]:
df.sample(3) #무작위

   code  과목  수강생  선생님
0   101  수학   15  김민수
5   106  사회   50  강수진
6   107  도덕   70  김진성

In [ ]:
items2 = {'code' : [109, 110],
         '과목': ['컴퓨터', '한자'],
         '수강생':[10, 12],
         '선생님': ['이철민', '김영우']}

df2= pd.DataFrame(items2)
df2

   code   과목  수강생  선생님
0   109  컴퓨터   10  이철민
1   110   한자   12  김영우

## concat: 합치기

In [ ]:
total_df = pd.concat([df,df2])
#total_df = pd.concat([df,df2],axis=1)

total_df

   code   과목  수강생  선생님
0   101   수학   15  김민수
1   102   영어   15  김현정
2   103   국어   10  강수정
3   104   체육   50  이나리
4   105   미술   20  도민성
5   106   사회   50  강수진
6   107   도덕   70  김진성
7   108   과학   10  오상배
0   109  컴퓨터   10  이철민
1   110   한자   12  김영우

In [ ]:
#total_df.to_csv('data.csv', index=False)

In [ ]:
new_df = pd.read_table('data.csv',sep=',') #sep은 , 을 기준으로 열을 나누겠다.
new_df

   code   과목  수강생  선생님
0   101   수학   15  김민수
1   102   영어   15  김현정
2   103   국어   10  강수정
3   104   체육   50  이나리
4   105   미술   20  도민성
5   106   사회   50  강수진
6   107   도덕   70  김진성
7   108   과학   10  오상배
8   109  컴퓨터   10  이철민
9   110   한자   12  김영우

## BeautifulSoup
html

- id는 앞에 # 붙이기, calss는 앞에 . 붙이기

In [ ]:
#!pip install beautifulSoup4 코렙은 이미 설치되어있다.

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulSoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [ ]:
# bs4라는 패키지로부터 BeautifulSoup라는 모듈을 임포트
from bs4 import BeautifulSoup

# HTML 문서를 문자열 html로 저장
html = '''
<html> 
    <head> 
    </head> 
    <body> 
        <h1> 장바구니
            <p id='clothes' class='name' title='라운드티'> 라운드티
                <span class = 'number'> 25 </span> 
                <span class = 'price'> 29000 </span> 
                <span class = 'menu'> 의류</span> 
                <a href = 'http://www.naver.com'> 바로가기 </a> 
            </p> 
            <p id='watch' class='name' title='시계'> 시계
                <span class = 'number'> 28 </span>
                <span class = 'price'> 32000 </span> 
                <span class = 'menu'> 액세서리 </span> 
                <a href = 'http://www.facebook.com'> 바로가기 </a> 
            </p> 
        </h1> 
    </body> 
</html>
'''

# BeautifulSoup 인스턴스 생성. 두번째 매개변수는 분석할 분석기(parser)의 종류.
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
# body 태그만 가져와보자!
print(soup.select('a'))

[<a href="http://www.naver.com"> 바로가기 </a>, <a href="http://www.facebook.com"> 바로가기 </a>]

In [ ]:
print(soup.select('.price'))

[<span class="price"> 29000 </span>, <span class="price"> 32000 </span>]

In [ ]:
print(soup.select('#watch'))

[<p class="name" id="watch" title="시계"> 시계
                <span class="number"> 28 </span>
<span class="price"> 32000 </span>
<span class="menu"> 액세서리 </span>
<a href="http://www.facebook.com"> 바로가기 </a>
</p>]

In [ ]:
print(soup.select('#clothes .price'))

[<span class="price"> 29000 </span>]

## Newspaper3k
기사

In [ ]:
!pip install newspaper3k

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting newspaper3k
  Downloading newspaper3k-0.2.8-py3-none-any.whl (211 kB)
     |████████████████████████████████| 211 kB 2.7 MB/s
Requirement already satisfied: requests>=2.10.0 in /usr/local/lib/python3.7/dist-packages (from newspaper3k) (2.23.0)
Collecting feedparser>=5.2.1
  Downloading feedparser-6.0.10-py3-none-any.whl (81 kB)
     |████████████████████████████████| 81 kB 8.4 MB/s
Collecting cssselect>=0.9.2
  Downloading cssselect-1.1.0-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: PyYAML>=3.11 in /usr/local/lib/python3.7/dist-packages (from newspaper3k) (3.13)
Collecting feedfinder2>=0.0.4
  Downloading feedfinder2-0.0.4.tar.gz (3.3 kB)
Requirement already satisfied: nltk>=3.2.1 in /usr/local/lib/python3.7/dist-packages (from newspaper3k) (3.7)
Requirement already satisfied: lxml>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from newspaper3k) (4.9.1)
Collecting jieba3k>=0.35.1
  Downloading jieba3k-0.35.1.zip (7.4 MB)
     |████████████████████████████████| 7.4 MB 17.8 MB/s
Requirement already satisfied: beautifulsoup4>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from newspaper3k) (4.6.3)
Collecting tinysegmenter==0.3
  Downloading tinysegmenter-0.3.tar.gz (16 kB)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.7/dist-packages (from newspaper3k) (2.8.2)
Collecting tldextract>=2.0.1
  Downloading tldextract-3.3.1-py3-none-any.whl (93 kB)
     |████████████████████████████████| 93 kB 1.2 MB/s
Requirement already satisfied: Pillow>=3.3.0 in /usr/local/lib/python3.7/dist-packages (from newspaper3k) (7.1.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from feedfinder2>=0.0.4->newspaper3k) (1.15.0)
Collecting sgmllib3k
  Downloading sgmllib3k-1.0.0.tar.gz (5.8 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk>=3.2.1->newspaper3k) (4.64.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk>=3.2.1->newspaper3k) (1.1.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk>=3.2.1->newspaper3k) (7.1.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk>=3.2.1->newspaper3k) (2022.6.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.10.0->newspaper3k) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.10.0->newspaper3k) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.10.0->newspaper3k) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.10.0->newspaper3k) (2.10)
Requirement already satisfied: filelock>=3.0.8 in /usr/local/lib/python3.7/dist-packages (from tldextract>=2.0.1->newspaper3k) (3.7.1)
Collecting requests-file>=1.4
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Building wheels for collected packages: tinysegmenter, feedfinder2, jieba3k, sgmllib3k
  Building wheel for tinysegmenter (setup.py) ... done
  Created wheel for tinysegmenter: filename=tinysegmenter-0.3-py3-none-any.whl size=13553 sha256=0b58d0fa5778728352c2659d8df1c94dbf0714e8511ceca3189158b2f30e6361
  Stored in directory: /root/.cache/pip/wheels/df/67/41/faca10fa501ca010be41b49d40360c2959e1c4f09bcbfa37fa
  Building wheel for feedfinder2 (setup.py) ... done
  Created wheel for feedfinder2: filename=feedfinder2-0.0.4-py3-none-any.whl size=3357 sha256=80dc7161ca34011306969992a7647ab1d60e087d244afdb645a0d32740330267
  Stored in directory: /root/.cache/pip/wheels/7f/d4/8f/6e2ca54744c9d7292d88ddb8d42876bcdab5e6d84a21c10346
  Building wheel for jieba3k (setup.py) ... done
  Created wheel for jieba3k: filename=jieba3k-0.35.1-py3-none-any.whl size=7398404 sha256=eddcb905fc09c05e0f369dea8a4c16173b5eca039052aa06e2af3886e00272d0
  Stored in directory: /root/.cache/pip/wheels/4c/91/46/3c208287b726df325a5979574324878b679116e4baae1af3c3
  Building wheel for sgmllib3k (setup.py) ... done
  Created wheel for sgmllib3k: filename=sgmllib3k-1.0.0-py3-none-any.whl size=6066 sha256=2aae050ce75c1d3ef6d94ae3a2da412aa41994159d5bf08e1e2baf8bbef27444
  Stored in directory: /root/.cache/pip/wheels/73/ad/a4/0dff4a6ef231fc0dfa12ffbac2a36cebfdddfe059f50e019aa
Successfully built tinysegmenter feedfinder2 jieba3k sgmllib3k
Installing collected packages: sgmllib3k, requests-file, tldextract, tinysegmenter, jieba3k, feedparser, feedfinder2, cssselect, newspaper3k
Successfully installed cssselect-1.1.0 feedfinder2-0.0.4 feedparser-6.0.10 jieba3k-0.35.1 newspaper3k-0.2.8 requests-file-1.5.1 sgmllib3k-1.0.0 tinysegmenter-0.3 tldextract-3.3.1

In [ ]:
# newspaper라는 패키지로부터 Article이라는 모듈을 임포트
from newspaper import Article

# 파싱할 뉴스 기사 주소
url = 'https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=101&oid=030&aid=0002881076'

# 언어가 한국어이므로 language='ko'로 설정
article = Article(url, language='ko')

# 뉴스 제목과 본문을 찾아내는 분석!
article.download()
article.parse()

In [ ]:
print(article.title)

[AI 사피엔스 시대]자연어처리 기술, 컴퓨팅 파워 경쟁 시대로

In [ ]:
print(article.text)

[Copyright ⓒ 전자신문 & 전자신문인터넷, 무단전재 및 재배포 금지]

주로 아이디어와 기술력으로 경쟁했던 자연어처리 인공지능(AI) 분야는 점차 컴퓨팅 파워 싸움으로 무게 추가 이동하고 있다. 모델이 대형화되면서 향상된 퍼포먼스 확보에 필요한 자금 규모도 커지고 있다. 자칫 대기업 자본력에 휘둘릴 수 있다는 우려도 함께 나온다.자연어처리(NLP)는 인간이 사용하는 언어 체계를 기계가 인식하도록 알고리즘을 디자인하는 기술이다. 흔히 말하는 컴퓨터 혹은 인간과 대화하는 컴퓨터 관련 기술이 포함된다.목적에 따라 세 가지 카테고리로 나뉜다. 인간이 제기한 질문에 자동으로 적절한 답을 찾아주는 '질의응답(QA)', 원하는 업무를 지시했을 때 작업을 수행하는 '테스크 컴플리션', 그리고 특별한 목적이 없는 대화를 의미하는 '오픈도메인 컨버세이션(비목적성 대화)'이 있다. 각기 발전해왔던 세 가지 기술은 지난 2018년 구글의 인공지능 언어모델 '버트(BERT)'의 등장으로 패러다임이 전환됐다. 압도적인 성능으로 대량의 프리트레이닝(사전학습)이 가능해지면서 굳이 셋을 구분할 필요가 없어진 것이다.기계학습 연구에서 모델을 학습할 때는 지도학습과 비지도학습, 강화학습 중 하나를 골라 활용한다. 지도학습은 사람이 적절한 입력과 출력을 부여하는 방식이다. 정답이 정해져 있고 기계의 정답률도 쉽게 측정할 수 있다. 반면에 비지도학습은 정답이 정해지지 않은 데이터에 대해서도 기계가 스스로 클러스터링 등을 통해 학습한다. 체계화되지 않은 대량의 데이터를 학습 가능하지만 학습이 맞게 됐는지 확인하기 어렵다.버트는 기존 AI 학습 방법을 혁신적으로 바꿔놨다는 평가를 받는다. 자연어처리를 교사 없이 양방향으로 사전 학습하는 최초의 시스템이다. 비지도학습 방식을 사용하면서도 기존 존재했던 어떤 기술보다 뛰어난 성능을 보여준다. 최근 1년 반 동안 버트를 필두로 AI 모델은 급격히 대형화되는 추세다.이는 기존의 빅데이터 개념을 훨씬 상회하는 초 대규모 데이터를 프리트레이닝 단계에서 학습 가능하게 만드는 결과로 이어졌다. 성능도 비약적으로 상승했다. 가장 최근 구글이 선보인 제너레이션 모델은 제시된 문장에 대해 인간의 80~90% 수준으로 답변 문장을 만들어 낸다.문제는 모델이 대형화되면서 기술을 구성하는 요소 중 알고리즘 대비 대량의 데이터셋과 컴퓨팅 파워 중요성이 더 커졌다는 점이다. 버트 자체는 '파인튜닝' 방식으로 다양한 분야에 확대 적용이 가능하지만 버트 성능에 준하는 최신 대형 모델을 만들어내려면 현존 최신 텐서처리장치(TPU)로도 학습에 수십 일이 걸린다.국내 한 AI 스타트업 대표는 “국내 상황은 데이터셋·인력·자금 인프라 모두 중국이나 영어권에 비해 떨어지는 게 사실이다. 자연어처리 모델 하나 만드는 데 10억~20억원씩 비용이 들어 고민이 많다”면서 “지금 글로벌 시장에서 격차가 나기 시작하면 이후에는 따라잡기 어려워진다. 정부 차원의 관심과 지원이 필요하다”고 말했다.이형두기자 dudu@etnews.com

In [ ]:
# https://news.naver.com/main/list.naver?mode=LSD&mid=sec&sid1=101&date=20200506&page=1
# sec&sid1=101 분야, date=20200506 날짜, page=1 현재 페이지